---
import { getCollection, render } from 'astro:content';
import Layout from '../layouts/default.astro';

export async function getStaticPaths() {
  const markdownPosts = await getCollection('blog');
  const notionPosts = await getCollection('notionBlog');

  const posts = [...markdownPosts, ...notionPosts].sort(
    (a, b) => a.data.publishedAt.getTime() - b.data.publishedAt.getTime(),
  );

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <Fragment slot="head">
    <link rel="canonical" href={Astro.url.toString()} />

    <meta name="description" content={post.data.description} />
    <meta name="image" content={post.data.image?.src} />

    <meta property="og:type" content="article" />
    <meta property="og:title" content={post.data.title} />
    <meta property="og:site_name" content="Marisa Morby" />
    <meta property="og:description" content={post.data.description} />
    <meta property="og:url" content={Astro.url} />

    <meta property="og:image" content={post.data.image?.src} />
    <meta property="og:image:width" content="1600" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image:alt" content={post.data.title} />

    <meta name="twitter:dnt" content="on" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={post.data.description} />
    <meta name="twitter:image" content={post.data.image?.src} />
  </Fragment>

  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Layout>

<style>
  article {
    inline-size: min(100%, 58ch);
    margin-inline: auto;
  }
</style>
