<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      {% if post.title %}{{ post.title }}{% else %}{{ title }}{% endif %} ·
      Marisa Morby
    </title>
  </head>
  <body>
  <!-- current page: {{ page.url }} -->
    <header>
      <a href="/" rel="home">
        <img src="/images/site-logo.png" alt="Marisa Morby logo" /> 
      </a>
      <nav>
        <a href="/writing/" {% if page.url == '/writing/' %}class="active"{% endif %}>writing</a>
        <a href="/drawing/">drawing</a>
        <a href="/ceramics/">ceramics</a>
        <a href="/library/">library</a>
        <a href="/acting/">acting</a>
        <!--
          <a href="/portfolio/">portfolio</a>
          <a href="/">about</a>
          <a href="/notes/">notes</a>
          <a href="/archives/">archives</a>
          <a href="/art-and-fun/">art & fun</a>
        -->
      </nav>
    </header>
  
  </div>
<main class="home">
  <h1 class="page-heading">{{title}}</h1>
  <div class="container"> 
    <div class="sidebar">
        <p><b>Filters</b></p>
        <nav>
          {% if title!="Writing" %}<a href="/writing/">View all</a>{% endif %}
          <a href="/nature-and-climate-change/"{% if page.url == '/nature-and-climate-change/' %} class="active"{% endif %}>Nature & Climate Change</a>
          <a href="/design-and-research/"{% if page.url == '/design-and-research/' %} class="active"{% endif %}>Design & Research</a>
          <a href="/mind-and-body/{% if page.url == '/mind-and-body/' %} class="active"{% endif %}">Mind & Body</a>
        </nav>
      </div>
      <div class="cards">
        {{ content }}
      </div>
    </div>
  </main>

    <footer>
      All content © Marisa Morby
    </footer>
  </body>
</html>
